.u-section-1 .u-sheet-1 {
  min-height: 1498px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 67px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 1197px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 210px;
  width: 210px;
  background-image: url("../images/2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 210px;
  width: 210px;
  background-image: url("../images/3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 210px;
  width: 210px;
  background-image: url("../images/0b32e1fa-df03-3333-0282-3c4069b3e47d.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 210px;
  width: 210px;
  background-image: url("../images/bbef6c67-d065-15d8-00f7-04c4574b8bd9.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-10 {
  height: 100%;
}

.u-section-1 .u-icon-11 {
  height: 100%;
}

.u-section-1 .u-icon-12 {
  height: 100%;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 210px;
  width: 210px;
  background-image: url("../images/6.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-5 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-13 {
  height: 100%;
}

.u-section-1 .u-icon-14 {
  height: 100%;
}

.u-section-1 .u-icon-15 {
  height: 100%;
}

.u-section-1 .u-list-item-6 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 210px;
  width: 210px;
  background-image: url("../images/woman4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-6 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-16 {
  height: 100%;
}

.u-section-1 .u-icon-17 {
  height: 100%;
}

.u-section-1 .u-icon-18 {
  height: 100%;
}

.u-section-1 .u-list-item-7 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 210px;
  width: 210px;
  background-image: url("../images/5man.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-15 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-7 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-19 {
  height: 100%;
}

.u-section-1 .u-icon-20 {
  height: 100%;
}

.u-section-1 .u-icon-21 {
  height: 100%;
}

.u-section-1 .u-list-item-8 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 210px;
  width: 210px;
  background-image: url("../images/woman7.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-8 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-22 {
  height: 100%;
}

.u-section-1 .u-icon-23 {
  height: 100%;
}

.u-section-1 .u-icon-24 {
  height: 100%;
}

.u-section-1 .u-list-item-9 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 210px;
  width: 210px;
  background-image: url("../images/happy-man-with-long-thick-ginger-beard-has-friendly-smile_273609-16616.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-19 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-9 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-25 {
  height: 100%;
}

.u-section-1 .u-icon-26 {
  height: 100%;
}

.u-section-1 .u-icon-27 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 987px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-1 .u-image-1 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    width: 77px;
  }

  .u-section-1 .u-image-2 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-social-icons-2 {
    width: 77px;
  }

  .u-section-1 .u-image-3 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-social-icons-3 {
    width: 77px;
  }

  .u-section-1 .u-image-4 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-social-icons-4 {
    width: 77px;
  }

  .u-section-1 .u-image-5 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-social-icons-5 {
    width: 77px;
  }

  .u-section-1 .u-image-6 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
  }

  .u-section-1 .u-social-icons-6 {
    width: 77px;
  }

  .u-section-1 .u-image-7 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
  }

  .u-section-1 .u-social-icons-7 {
    width: 77px;
  }

  .u-section-1 .u-image-8 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
  }

  .u-section-1 .u-social-icons-8 {
    width: 77px;
  }

  .u-section-1 .u-image-9 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
  }

  .u-section-1 .u-social-icons-9 {
    width: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3007px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1890px;
    grid-auto-columns: 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-1 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-2 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-3 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-4 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-5 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-6 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-7 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-8 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-9 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 927px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 698px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("../images/cheerful-business-woman-make-winner-gesture.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 17px 148px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("../images/mand-holding-cup.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 17px 148px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("../images/pexels-moose-photos-1586973.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 17px 148px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 110px;
  height: 110px;
  background-image: url("../images/pexels-ravi-k-938642.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 17px 148px;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 110px;
  height: 110px;
  background-image: url("../images/pexels-humphrey-muleba-2058659.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 17px 148px;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 110px;
  height: 110px;
  background-image: url("../images/pexels-andrea-piacquadio-901424.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 17px 148px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 583px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -115px;
    margin-left: 148px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -115px;
    margin-left: 148px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -115px;
    margin-left: 148px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 22px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -115px;
    margin-left: 148px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 22px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -115px;
    margin-left: 148px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 22px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -115px;
    margin-left: 148px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 22px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-top: 38px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 105px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 105px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 105px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 105px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 105px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 748px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 628px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(#f5e2da, #ecccbd);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.125rem;
  --radius: 50px;
  width: 100%;
  padding: 18px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 518px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 675px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 393px;
}

.u-section-4 .u-list-1 {
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 350px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 10px 19px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-line-1 {
  width: 282px;
  height: 0;
  margin-top: 30px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 10px 19px;
}

.u-section-4 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-line-2 {
  width: 282px;
  height: 0;
  margin-top: 30px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 10px 19px;
}

.u-section-4 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-line-3 {
  width: 282px;
  height: 0;
  margin-top: 30px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 677px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}